<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Workouts Store 507</title>
    <link rel="stylesheet" href="/Css/styles.css" />
    <link rel="https://fonts.gstatic.com"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/Css/normalize.css" />
    <script
      src="https://kit.fontawesome.com/562ce4fe09.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <header>
        <input type="search" name="buscador" placeholder="BUSQUE UN PRODUCTO ESPECIFICO AQUI" id="buscador"/>
        <button type="submit"><i class="fa-solid fa-magnifying-glass" id="#lupa"></i></button> 
        <img src=""
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>