* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
}


h1 {
  color: #22A699;
  margin: 10rem 2rem 2rem 2rem;
  border-bottom: 2px solid #6A2C70;
}

h1 .fa-cart-shopping {
  color: #22A699;
  font-size: 16px;
}

main {
  width: 90%;
  margin: 0 auto;
}

.products{
  padding: 10px;
  margin: auto;
  display: flex;
}

.products .products-item{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-grow: 1;
}

.products .products-item .description-article{
  background-color: #00E1FF;
  color: #fff;
  max-width: 200px;
  padding: 10px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 15px #BBC3A4;
  transition: .3s;
}

.products .products-item .description-article img{
  margin-top: 15px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #6C22A6;
}
.products-item .description-article:hover{
  scale: 1.05;
  box-shadow: 0 0 15px #000;
}

.description-article h3{
  text-transform: uppercase;
}

.description-article p{
  margin-top: 10px;
  font-size: 16px;
}

.description-article span{
  color: #6A2C70;
}

.description-article form{
  margin-top: 10px ;
}

.box-quantity{
  display: flex;
  padding: 5px;
  margin: 10px 0;
}

.box-quantity .fa-plus, .fa-minus{
  font-size: 24px;
  cursor: pointer;
  padding: 0 12px;
}

.box-quantity .quantity-item{
  width: 50%;
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #6C22A6;
  border-radius: 5px;
  padding: 3px;
}

#Subtotal{
  margin-bottom: 10px;
}

.button-delete{
  background-color: #434242;
  padding: 3px 10px ;
  border-radius: 6px;
  color: #ffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

#payment {
  margin: 3rem;
  padding-bottom: 1em;
  border-bottom: 2px solid #6A2C70;
}

#payment .fa-pager{
  font-size: 16px;
}

.products-payment img{
  margin-left: 20%;
  width: 20%;
}

.box-total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 3rem;
  border-top: 2px solid #6A2C70;
  padding: 2em 0 1em 0;
}

.box-total p{
  color: #6A2C70;
  font-size: 16px;
}

.box-Subtotal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
}

.box-Subtotal p{
  color: #6A2C70;
  font-size: 16px;
}

@media(min-width: 1024px){

  

  .products{
      width: 60%;
      display: flex;
      float: left;
    }

    .products-payment{
      width: 35%;
      display: flex;
      float: left;
      flex-direction: column;
      color: #22A699;
      border-radius: 10px;
      margin: 40px 30px;
      box-shadow: 0 0 15px 2px #BBC3A4;
    }

    .box-card{
      display: flex;
      justify-content: space-around;
      padding: 0 40px 25px 40px;
    }
    
    .box-card a img{
      margin: 0 2em;
      width: 60%;
    }

    .box-card img:hover{
      scale: 1.05;
    }
}





 
