* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
  background-image: url('https://png.pngtree.com/background/20230519/original/pngtree-an-old-gym-setting-with-dumbbells-picture-image_2667256.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

/*header*/
header {
  background-color: #00e1ff;
  min-width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.search-box {
  position: relative;
  width: 89%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.search-box input {
  width: 100%;
  height: 39px;
  border: none;
  border-radius: 5px;
  padding: 1%;
  text-indent: 10px;
  font-size: 18px;
  outline: none;
  margin-top: 10px;
}

#search-icon {
  position: relative;
  left: -40px;
  top: 5px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  z-index: 10;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}

.truck-box i,
.truck-box span,
nav #categoria {
  display: none;
}

.box-menu {
  display: none;
}

/*nav*/
nav {
  background-color: #a9a9a9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  min-width: 100%;
}

nav .nav2 {
  display: flex;
  width: 50%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 18px;
  margin-right: 10px;
}

.fa-sun{
  margin-top: 4px;
  cursor: pointer;
}

.fa-moon{
  font-size: 18px;
  cursor: pointer;
  margin-top: 3px;
}

.nav2 #number {
  margin-left: 10px;
}

nav ul,
nav ul li a {
  list-style: none;
  text-decoration: none;
  color: #fff;
}

nav ul li a i:hover {
  scale: 1.3;
}

.box-car{
  display: none;
  position: absolute;
  top: 220px;
  right: 0;
  width: 80%;
  height: 60%;
  background-color: #fff;
  border: 1px solid #fff;
}

.title-car{
  width: 100%;
  height: 14%;
  background-color: #000;
  padding-top: 10px;
}

.box-car h2{
  text-align: center;
  color: #fff;
}

.descriptions-car{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  margin-top: 2px;
}

.descriptions-car img{
  width: 50px;
}

.box-total-car{
  background-color: #a9a9a9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  padding: 10px;
  font-size: 14px;
}

button {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 2rem;
  height: 2rem;
  border: 0;
  background-color: #a9a9a9;
  gap: 0.6rem;
}

button > div {
  background: #fff;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s;
  transform-origin: left;
}

/*main*/
h1 {
  color: #fff;
  margin: 3rem 2rem 2rem 2rem;
  border-bottom: 2px solid #fff;
}

h1 .fa-cart-shopping {
  color: #000;
  font-size: 16px;
}

main {
  width: 100%;
  margin: 0 auto;
}

.box-main {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.product {
  padding: 10px;
  margin: 20px auto;
  display: flex;
}

.product .product-item {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-grow: 1;
}

.product .product-item .descriptions-article {
  background-color: #00e1ff;
  color: #fff;
  max-width: 250px;
  padding: 18px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s
}

.product .product-item .descriptions-article:hover{
  box-shadow: 0 0 10px #000;
}

.product .product-item .descriptions-article img {
  margin-top: 15px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #000;
}

.product-item .descriptions-article:hover {
  scale: 1.05;
  box-shadow: 0 0 15px #000;
}

.descriptions-article h3 {
  text-transform: uppercase;
}

.descriptions-article p {
  margin-top: 10px;
  font-size: 16px;
}

.descriptions-article span {
  color: #000;
}

.descriptions-article form {
  margin-top: 10px;
}

.box-quantitys {
  display: flex;
  padding: 5px;
  margin: 10px 0;
}

.box-quantitys .fa-plus,
.fa-minus {
  font-size: 24px;
  cursor: pointer;
  padding: 0 12px;
}

.box-quantitys .quantitys-item {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 3px;
}

#Subtotal {
  margin-bottom: 10px;
}

.button-delete {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  background-color: #434242;
  padding: 9px;
  margin: 0 auto;
  border-radius: 6px;
  color: #ffff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

.product-payment {
  background-color: #00e1ff;
  width: 90%;
  height: 50%;
  padding-bottom: 30px;
  margin: 0 auto;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 20px;
}

#payment {
  margin: 3rem;
  padding-bottom: 1em;
  border-bottom: 2px solid #fff;
}

#payment .fa-pager {
  font-size: 16px;
}

.product-payment img {
  margin-left: 20%;
  width: 5%;
}

.box-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 3rem;
  border-top: 2px solid #fff;
  padding: 2em 0 1em 0;
}

.box-total p {
  color: #000;
  font-size: 16px;
}

.box-Subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
}

.box-Subtotal p {
  color: #000;
  font-size: 16px;
}

#Title-totales {
  margin: 16px 0 0 46px;
}

.box-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.logo-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
  margin: 5px 12px 0 0;
  width: 100%;
}

.logo-card img {
  width: 80px;
}

.box-card img:hover {
  scale: 1.05;
}

/*footer*/

footer {
  margin: auto 0;
  padding: 5px;
  background-color: #00e1ff ;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

footer ul li,
ul li a {
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-size: 16px;
}

footer li:hover {
  scale: 1.10;
  border-radius: 5px;
}

footer i {
  color: #fff;
}

#logo-medium {
  display: none;
}

.box-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  gap: 14px;
}

#redes {
  display: none;
}

/*media query 481px*/
@media (min-width: 481px){

  header {
    flex-direction: row;
    justify-content: space-around;
    height: 103px;
  }

  .search-box {
    width: 63%;
  }

  .search-box input {
    width: 112%;
    height: 36px;
  }

  #search-icon {
    padding: 8px;
    border-radius: 50%;
    left: -38px;
    top: 5px
  }

  .nav1{
     display: flex;
     gap: 30px;
  }
  .nav1 #categoria{
    display: block;
    font-size: 18px;
    margin-top: 8px;
  }

  nav .nav2 {
    width: 25%;
  }


}


/*media query 1024px*/

@media (min-width: 1024px) {

  .truck-box i,
  .truck-box span,
  header .fa-sun {
    display: block;
    font-size: 18px;
  }

  .fa-sun{
    margin-top: 5px;
    cursor: pointer;
  }

  .fa-moon{
    margin-top: 5px;
  }

  .truck-box {
    display: inline-flex;
    gap: 10px;
  }

  .box-menu {
    display: none;
  }

  main {
    width: 95%;
    margin: 0 auto;
  }

  .box-main {
    display: flex;
    flex-wrap: nowrap;
  }

  .search-box {
    width: 43%;
  }

  .search-box input {
    width: 92%;
    height: 43px;
  }

  #search-icon {
    padding: 10px; 
    left: -40px;
    top: 4px
  }

  nav .nav2 {
    width: 20%;
  }

  .box-menu,
  #logo-top {
    display: none;
  }

  .box-menu ul li {
    margin: 30px;
  }

  .box-menu ul li:hover {
    background-color: #a9a9a9;
    border-radius: 5px;
    padding: 4px;
  }

  .product {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
  }

  .product-payment {
    width: 38%;
    display: flex;
    flex-direction: column;
    margin: 40px 30px;
    box-shadow: 0 0 15px 2px #bbc3a4;
  }

  .box-card {
    flex-wrap: nowrap;
  }

  .logo-card {
    width: 100%;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 20px;
  }

  .logo-card img {
    width: 90px;
  }

  #yappy {
    margin-left: 60px;
  }

  footer {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  footer div {
    font-size: 10px;
  }

  #logo-medium {
    display: block;
  }

  .box-redes {
    display: none;
  }

  #redes{
    display: block;
  }
}
