* {
    margin: 0;
    padding: 0;
    background-color: #22A699;
    box-sizing: border-box;
  }
  
  body {
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin:auto
  }
  h2{
    color: #021513;
    margin: 0;
    text-align: left;
  
  }
  .box-card{
width: 20%;
  }
  .imagen-principal{
    width: 50px;
    height: 150px;
    flex-direction: column;
    background-position: center;
  }
  .product_img{
    width: 200px;
    height: 200px;
    flex-direction: column;
    background-position: center;
  }
  .contenedor-foto1{
    position: relative;
   justify-content: space-around;
  }
  .fotosRelacionadas{
    position: relative;
    justify-content: space-around;
  }
  .producto__img{
    width: 200px;
    height: 200px;
    position: absolute;
    flex-direction: column;
  }