* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

h1, h2, h3 {
  color: white;
}

h1 {
  margin: 2rem 2rem;
  border-bottom: 2px solid #fff;
  text-align: center;
  font-size: 16px;
  white-space: nowrap;
}

main {
  width: 90%;
  color: white;
  text-align: center;
  font-size: 24px;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.product0 {
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  
}

.description-article0 h3{
  font-size: 16px;
  margin-bottom: 20px;
}

.description-article0 img {
  margin: 0;
  width: 100%;
  height: 95%;
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 0 0 15px #bbc3a4;
  transition: 0.3s;
}
.product0 .description-article:hover{
  scale: 1.05;
  box-shadow: 0 0 15px #fff;
}
.product0 .description-article0{
  border-radius: 20px;
}

.description-article0 p{
  font-size: 18px;
}

.box-quantity {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.quantity-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.quantity-input {
  width: 100px;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.decrement,
.increment {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C2F35;
  color: #fff;
  border: none;
  padding: 6px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}

.decrement:hover,
.increment:hover {
  background-color: #a9a9a9;
}

.button-delete {
  padding: 10px;
  margin: 10px auto;
  background-color: #0e0e14;
  color: white;
  border: 5px solid #00e1ff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.technical-specs {
  background-color: black;
  margin: 20px auto;
  width: 60%;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  background-color: black;
  border: 5px solid #00e1ff;
  width: 100%;
}

#title-detalle{
  font-size: 24px;
  margin-left: 10px 0;
}

.spec-item {
  margin-bottom: 10px;
}

.spec-item h3 {
  margin: 5px 0;
  font-size: 18px;
}

.spec-item span {
  font-weight: bold;
  margin-right: 5px;
}

.box-payment{
 display: flex;
 justify-content: justify;
 align-items: justify;
 margin: 0 auto ;
}

#payment {
  margin: 20px;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
}


#precio {
  text-align: center;
}

#img-1,
#img-2,
#img-3,
#img-4 {
  display: flex;
  background-color: #2C2F35;
  color: #fff;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 0 0 15px #bbc3a4;
  transition: 0.3s;
}

.products {
display: flex;
flex-direction: column;
text-align: center;
width: 30%;
margin: 10px auto;

}

.products-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40%;
  margin: 10px 10px;
}
.products-item .description-article:hover{
  scale: 1.05;
  box-shadow: 0 0 15px #fff;
}
.products .products-item .description-article img {
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #6c22a6;
  flex-direction: row;
  justify-content: space-between;
  border: 5px solid white;
  border-radius: 10px;
}


#payment {
  margin: 3rem;
  padding-bottom: 1em;
  border-bottom: 2px solid #6a2c70;
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  padding: 0 4px;
}

.contenido-inter {
  background-color: black;
  border: 5px solid #00e1ff;
  border-radius: 10px;

  width: 95%;
}

h2 {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 24px;
}

p {
  color: white;
  text-align: justify;
  margin: 30px 20px 30px 30px;
  font-size: 20px;
}

.products1 {
  padding: 10px;
  margin: 20px auto;
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

.products1 .products-item1 {
  margin: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-grow: 1;
}

.products1 .products-item1 .description-article1 {
  background-color: black;
  color: #fff;
  max-width: 250px;
  padding: 18px;
  border: 5px solid #00e1ff;
  border-radius: 10px;
}
.products-item1 .description-article1:hover{
  scale: 1.05;
  box-shadow: 0 0 15px #fff;
}
.button-delete{
  font-size: 14px;
  justify-content: center;
  border: 5px solid #00e1ff;
}


@media (min-width: 481px) {
  .products {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 150px;
    width: 320px;
  }
  .products-item{
    width: 20%;
    justify-content: center;
    align-items: center;
  }
  .button-delete:hover{
    background-color: #0e0e14;
    color: white;
    border: 5px solid #00e1ff;
      }
}

@media (min-width: 768px) {
  .products {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 150px;
    width: 550px;
  }
  .products-item{
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  .button-delete:hover{
    background-color: #0e0e14;
    color: white;
    border: 5px solid #00e1ff;
      }
}

@media (min-width: 1024px) {
  .products {
    width:28%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: absolute;
    gap: 20%;
  }
  
  .products .products-item {
    display: flex;
    flex-wrap: nowrap;
    width: 60%;
    gap: 40px;
    margin-bottom: 30px;
    align-items: center;
  }
  .products-item .description-article:hover{
    scale: 1.05;
    box-shadow: 0 0 15px #fff;
  }
 
  .description-article img{
  height: 140px;
}

  .box-card {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 25px 40px;
  }
  .box-card a img {
    margin: 0 2em;
    width: 65%;
  }
  .box-card img:hover {
    scale: 1.05;
  }
  .contenido-inter{
    margin: 15%;
  }
  .products1 {
    padding: 10%;
    margin: 1%;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}
.description-article1{
  flex-direction: row;
  align-items: center;
}
  .button-delete:hover{
    background-color: #0e0e14;
    color: white;
    border: 5px solid #00e1ff;
  }
}

