* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

h1, h2, h3 {
  color: white;
}

h1 {
  margin: 2rem 2rem;
  border-bottom: 2px solid #fff;
  text-align: center;
  font-size: 16px;
  white-space: nowrap;
}

main {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 24px;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.product0 {
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
}

.description-article0 h3{
  font-size: 16px;
  margin-bottom: 20px;
}

.description-article0 img {
  margin: 0;
  width: 90%;
  height: 50%;
  border: 5px solid #465b16;
  border-radius: 10px;
  box-shadow: 0 0 15px #bbc3a4;
  transition: 0.3s;
  
}
.description-article0 p{
  font-size: 18px;
}

.box-quantity {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.quantity-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.quantity-input {
  width: 100px;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.decrement,
.increment {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C2F35;
  color: #fff;
  border: none;
  padding: 6px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}

.decrement:hover,
.increment:hover {
  background-color: #a9a9a9;
}

.button-delete {
  background-color: #a9a9a9;
  padding: 10px;
  margin: 10px auto;
  border-radius: 6px;
  color: #ffff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.technical-specs {
  background-color: #2C2F35;
  margin: 20px auto;
  width: 90%;
  padding: 5px;
  border-radius: 5px;
}

#title-detalle{
  font-size: 18px;
  margin: 10px 0;
}

.spec-item {
  margin-bottom: 10px;
}

.spec-item h3 {
  margin: 5px 0;
  font-size: 18px;
}

.spec-item span {
  font-weight: bold;
  margin-right: 5px;
}

.box-payment{
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 auto ;
}

#payment {
  margin: 20px;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
}

#payment i {
  margin-left: 5px;
}

.box-card-detalles{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 100px;  
}


.product0 .products-item0 {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-grow: 1;
}

#precio {
  text-align: center;
}

#img-1,
#img-2,
#img-3,
#img-4 {
  width: 100%;
  object-fit: cover;
}

.products {
  padding: 10px;
  margin: 10px auto;
  display: flex;
  gap: 10px;
}

.products .products-item {
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  width: 118px;
  
}
.products .products-item .description-article {
  background-color: #2C2F35;
  font-size: 12px;
  color: #fff;
  max-width: 90%;
  padding: 18px;
  margin: 10px auto;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #165b32;
  box-shadow: 0 0 15px #bbc3a4;
  transition: 0.3s;
}

.products .products-item .description-article img {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #6c22a6;
  flex-direction: column;
  height: 100%;
}

#payment {
  margin: 3rem;
  padding-bottom: 1em;
  border-bottom: 2px solid #6a2c70;
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 95%;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

.contenido-inter {
  background-color: #2C2F35;
  border: 5px solid white;
  border-radius: 10px;
  box-shadow: 0 0 15px #bbc3a4;
  transition: 0.3s;
  width: 95%;
}

h2 {
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 18px;
}

p {
  color: white;
  text-align: justify;
  margin: 30px 20px 30px 30px;
  font-size: 16px;
}

.products1 {
  padding: 10px;
  margin: 20px auto;
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

.products1 .products-item1 {
  margin: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-grow: 1;
}

.products1 .products-item1 .description-article1 {
  background-color: #2C2F35;
  color: #fff;
  max-width: 250px;
  padding: 18px;
}
.button-delete{
  font-size: 14px;
  justify-content: center;
}


@media (min-width: 1024px) {
  .products {
    width: 60%;
    display: flex;
    float: left;
  }

  .products-payment {
    width: 35%;
    display: flex;
    float: left;
    flex-direction: column;
    color: #22a699;
    border-radius: 10px;
    margin: 60px 30px;
    box-shadow: 0 0 15px 2px #bbc3a4;
    text-align: center;
    font-size: 18px;
  }

  .box-card {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 25px 40px;
  }

  .box-card a img {
    margin: 0 2em;
    width: 65%;
  }

  #yappy {
    width: 35%;
  }

  .box-card img:hover {
    scale: 1.05;
  }
}
@media (min-width: 768px) {
  .product0 {
    width: 80%;
    text-align: center;
  }
  }