*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header{
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin:auto;
    background-color: #22A699;
  }
  h1{
    text-align: center;
  }
  h2{
    text-align: center;
  }
  .descripciones .descripciones-producto{ 
    justify-content: center;
  }
  .product0 .product-item0 .description-article0 img{
justify-content: start;
margin-top: 15px;
  width: 40%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #6C22A6;
  }

  .product-content{
    background-color: #22A699;
        }
  .product-content .product-txt{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
  }
  body {
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin:auto;
    background-color: #22A699;
    }
    h1 {
      color: #011815;
      margin: 2rem;
      border-bottom: 2px solid #6A2C70;
    }
    
    h1 .fa-cart-shopping {
      color: #22A699;
      font-size: 16px;
    }
    main {
      width: 90%;
      margin: 0 auto;
      text-align: center;
    }
    .products{
      padding: 10px;
      margin: auto;
      display: flex;
    }
    
    .products .products-item{
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      flex-direction: row;
      justify-content: space-around;
    }
    .products .products-item .description-article{
  background-color: #00E1FF;
  color: #fff;
  max-width: 200px;
  padding: 10px;
  margin: auto;
  text-align: center;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 0 0 15px #BBC3A4;
  transition: .3s;
}
.products .products-item .description-article img{
  margin-top: 15px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #6C22A6;
}
.products-item .description-article:hover{
  scale: 1.05;
  box-shadow: 0 0 15px #000;
}
.description-article h3{
  text-transform: uppercase;
}
.description-article p{
  margin-top: 10px;
  font-size: 16px;
}
.description-article span{
  color: #6A2C70;
}
.products2{
  padding: 10px;
  margin: auto;
  display: flex;
}
      .products2 .products-item-2{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        flex-direction: row;
        justify-content: space-around;
      }
      .products2 .products-item-2 .description-article-2{
    background-color: #00E1FF;
    color: #fff;
    max-width: 200px;
    padding: 10px;
    margin: auto;
    text-align: center;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0 0 15px #BBC3A4;
    transition: .3s;
  }
  .products2 .products-item-2 .description-article-2 img{
    margin-top: 15px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #6C22A6;
  }
  .products-item-2 .description-article-2:hover{
    scale: 1.05;
    box-shadow: 0 0 15px #000;
  }
  .description-article h3{
    text-transform: uppercase;
  }
  .description-article p{
    margin-top: 10px;
    font-size: 16px;
  }
  
  .description-article span{
    color: #6A2C70;
  }
  button{
    background-color: #6A2C70;
    
    
  }