* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
}

header {
  background-color: #00e1ff;
  height: 120px;
}


nav .nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 20px 0 40px;
}

nav .nav-bar img {
  width: 250px;
  position: absolute;
  top: -90px;
  left: 1px;
}

#check{
  display: none;
  margin-bottom: 10px;
}

.slider-bar {
  position: fixed;
  left: -10px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #fff;
  z-index: 1;
  transition: all 1s;
}

.slider-bar h2 {
  font-size: 22px;
  color: #fff;
  text-align: center;
  line-height: 70px;
  background-color: #6a2c70;
  user-select: none;
}

#nav-ul-1 li a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  padding-left: 40px;
  list-style: none;
  text-decoration: none;
  color: #747264;
}

#nav-ul-1 li a:hover {
  background-color: #B4B4B8;
  color: #fff;
  border-radius: 5px;
}

label #fa-bars,
label #cancel {
  position: fixed;
  margin-top: 10px;
  cursor: pointer;
  transition: all 1s;
}

label #fa-bars {
  right: 6px;
  top: 5px;
  opacity: 0;
  font-size: 30px;
  color: #fff;
}

label #cancel {
  right: 6px;
  top: 10px;
  font-size: 30px;
  opacity: 1;
  color: #fff;
}

#check:checked  ~ .slider-bar {
  left: -250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked  ~ label #cancel{
  opacity: 0;
}

#check:checked  ~ label #fa-bars{
  opacity: 1;
}

.search-box {
  padding: 20px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  background-color: #00e1ff;
}

.search {
  padding: 8px;
  outline: none;
  border-radius: 5px;
  border: none;
  min-width: 99%;
  min-height: 99%;
  position: relative;
}

button {
  background-color: #6a2c70;
  color: #fff;
  padding: 6px;
  position: absolute;
  right: 1em;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

#nav-ul-3 {
  background-color: #B4B4B8;
  padding: 5px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

nav #nav-ul-3 li {
  list-style: none;
  text-decoration: none;
}

#nav-ul-3 li a i {
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  font-size: 20px;
}

#nav-ul-3 li a{
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-size: 16px;
}

#nav-ul-3 li a span{
  display: none;
}


#carrito-number{
  font-size: 18px;
}


@media(min-width: 768px){

  #nav-ul-3{
  background-color: #00e1ff;
  padding: 7px;
  width: 70%;
  height: 10%;
  top: 10px;
  right: 80px;
  justify-content: space-around;
  }

  #nav-ul-3 li a span{
    display: block;
    float: right;
    padding-top: 10px;
  }

label #fa-bars,
label #cancel {
  margin: 12px 10px 0 0;
}

.slider-bar{
    left: 0;
    top: 91px;
    width: 210px;
}


.search-box {
  padding: 20px 300px 10px 240px;
}

button{
  right: 19rem;
}

#nav-ul-3 li:hover{
  padding: 5px;
  background-color: #6a2c70;
  border-radius: 5px;
}

}







/*<footer>
      <ul>
        <li><a href="#">Contáctanos</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Términos y condiciones</a></li>
        <li><a href="#">Soporte</a></li>
        <li><a href="#">Redes sociales</a></li>
      </ul>

      <div>
        <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
    </footer>*/
