* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

  /*main section*/ 
  main {
    width: 100%;
  }
  /*slider*/
  #gallery {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
 }
 .gallery-item {
    min-width: 100%;
 }
 
 .gallery-item img {
    width: 100%;
    display: block;
 }
 
 /* Navegación del Slider */
 .gallery-navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 80px;
    
 }
 
 .direction-arrow {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    border: none;
    background: none;
 }


  @keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
  }
  /*articulos*/
  .subtitle-seccion {
    color: #fff;
    font-size: 30px;
    border-bottom: 2px solid #00e1ff;
    width: 100%;
  }

  .products{
    padding: 10px;
    margin: auto;
    display: flex;
  }
  
  .products .products-item{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-grow: 1;
  }
  
  .products .products-item .description-article{
    background-color: #2C2F35;
    color: #fff;
    max-width: 200px;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    border: solid #00e1ff;
  }
  
  .products .products-item .description-article img{
    margin-top: 15px;
    background-color: #fff;
    
    border-radius: 10px;
    border: 1px solid #6C22A6;
  }
  .products-item .description-article:hover{
    scale: 1.05;
    box-shadow: 0 0 15px #fff;
  }
  
  .description-article h3{
    text-transform: uppercase;
  }
  
  .description-article p{
    margin: 10px 0;
    font-size: 16px;
  }
  
  .description-article span{
    color: #00e1ff;
  }
  
  .description-article form{
    margin-top: 10px ;
  }
  
  .box-quantity{
    display: flex;
    padding: 5px;
    margin: 10px 0;
  }
  
  .box-quantity .fa-plus, .fa-minus{
    font-size: 24px;
    cursor: pointer;
    padding: 0 12px;
  }
  
  .bottons {
    display: flex;
    justify-content: space-around;
  }
  .button-carrito{
    background-color: #2C2F35;
    padding: 10px 10px ;
    border-radius: 6px;
    color: #00e1ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    border: none;
    white-space: nowrap;
    border: solid #00e1ff;

  }

  .button-carrito span{
    display: none;
    
  }
.button-carrito:hover span{
    display: block;
    color: #fff;
  }
  .button-carrito:hover i {
    display: none;
  }


/*media query 1024px*/

@media (min-width: 1024px) {

  main {
    width: 95%;
    margin: 0 auto;
  }
}