* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 12px;
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/01-1552045339.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

#container{
  margin: 10px 0;
}

.input-container-login {
  height: 195px;
}

#titleLogin{
  font-size: 24px;
}

#olvidar{
  color: #fff;
  cursor: pointer;
  margin-top: 30px;
}

#cuenta{
  margin-top: 20px;
}

.Iniciar{
  margin: 20px auto
}


