* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 12px;
  background-image: url("https://png.pngtree.com/background/20230519/original/pngtree-an-old-gym-setting-with-dumbbells-picture-image_2667256.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

/*main section*/
main {
  width: 80%;
  margin: 0 auto;
}

/*slider*/
#gallery {
  width: 95%;
  height: 400px;
  margin: 10px auto;
  overflow: hidden;
}

.gallery-container {
  width: 95%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.gallery-item {
  min-width: 100%;
}

.gallery-item img {
  width: 30%;
  display: block;
}

/* Navegación del Slider */
.gallery-navigation {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -50px;
}

.nav-button {
  background-color: #008cba;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.nav-button:hover {
  background-color: #005f5f;
}
@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/*articulos*/
.products {
  padding: 10px;
  margin: auto;
  display: flex;
}

.products .products-item {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-grow: 1;
}

.products .products-item .description-article {
  background-color: #00e1ff;
  color: #fff;
  max-width: 200px;
  padding: 10px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}

.products .products-item .description-article img {
  margin-top: 15px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #6c22a6;
}
.products-item .description-article:hover {
  scale: 1.05;
  box-shadow: 0 0 15px #fff;
}

.description-article h3 {
  text-transform: uppercase;
}

.description-article p {
  margin-top: 10px;
  font-size: 16px;
}

.description-article span {
  color: #6a2c70;
}

.description-article form {
  margin-top: 10px;
}

.box-quantity {
  display: flex;
  padding: 5px;
  margin: 10px 0;
}

.box-quantity .fa-plus,
.fa-minus {
  font-size: 24px;
  cursor: pointer;
  padding: 0 12px;
}
.button-carrito {
  background-color: #434242;
  padding: 10px 10px;
  border-radius: 6px;
  color: #ffff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  font-size: 12px;
  cursor: pointer;
  margin-top: 10px;
}
.button-carrito span {
  display: none;
}
.button-carrito:hover span {
  display: block;
  color: #fff;
}
.button-carrito:hover i {
  display: none;
}
