<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/Public/Css/carrito.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@500&family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>Carrito De Compras</title>
  </head>
  <body class="body-raleway">
    <header>
      <img src="/Images/workout507.ico" alt="logo" />
      <div class="search-box">
        <input type="text" placeholder="Buscar..." />
        <span class="fas fa-search" id="search-icon"></span>
      </div>
      <div class="truck-box">
        <i class="fa-solid fa-truck-fast"></i
        ><span>Envío Rápido en 24 Horas</span>
      </div>
    </header>
    <nav>
      <ul class="nav1">
        <button id="button">
          <div></div>
          <div></div>
          <div></div>
        </button>
        <div class="box-menu">
          <ul>
            <li><a href="#">Equipamiento</a></li>
            <li><a href="#">Accesorios</a></li>
            <li><a href="#">Ropa</a></li>
            <li><a href="#">Electronica</a></li>
            <li><a href="#">Suplementos</a></li>
          </ul>
        </div>
        <span id="categoria">Categorias</span>
      </ul>
      <ul class="nav2">
        <i class="fa-solid fa-sun" id="fa-sun"></i>
        <li>
          <a href="/"><i class="fa-solid fa-house"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-circle-user"></i></a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-cart-shopping"></i><span id="number">0</span>
          </a>
        </li>
      </ul>
    </nav>
    <main>
      <h1>Tu Carrito <i class="fa-solid fa-cart-shopping"></i></h1>
      <div class="box-main">
        <div id="mensajeCarritoVacio">
          <img src="/Images/carritovacio.png.png" alt="" />
          <h3>Tu carrito está vacío</h3>
        </div>
        <section class="product">
          <div class="product-item">
            <article class="descriptions-article">
              <h3>Nombre del Producto</h3>
              <img
                src="/Images/1708085109952.jpg"
                width="150px"
                height="150px"
              />
              <p>Precio c/u:<span>$0.00</span></p>
              <div class="box-quantitys">
                <i class="fa-solid fa-minus fa-xs"></i>
                <input type="text" value="1" class="quantitys-item" disabled />
                <i class="fa-light fa-plus"></i>
              </div>
              <p id="Subtotal">Subtotal: <span>$0.00</span></p>
              <button class="button-delete" type="button">
                Eliminar <i class="fa-solid fa-trash"></i>
              </button>
            </article>
            <article class="descriptions-article">
              <h3>Nombre del Producto</h3>
              <img
                src="/Images/1708085110068.png"
                width="150px"
                height="150px"
              />
              <p>Precio c/u: <span>$0.00</span></p>
              <div class="box-quantitys">
                <i class="fa-solid fa-minus fa-xs"></i>
                <input type="text" value="1" class="quantitys-item" disabled />
                <i class="fa-light fa-plus"></i>
              </div>
              <p id="Subtotal">Subtotal: <span>$0.00</span></p>
              <button class="button-delete" type="button">
                Eliminar <i class="fa-solid fa-trash"></i>
              </button>
            </article>
            <article class="descriptions-article">
              <h3>Nombre del Producto</h3>
              <img
                src="/Images/1708085110086.jpg"
                width="150px"
                height="150px"
              />
              <p>Precio c/u: <span>$0.00</span></p>
              <div class="box-quantitys">
                <i class="fa-solid fa-minus fa-xs"></i>
                <input type="text" value="1" class="quantitys-item" disabled />
                <i class="fa-light fa-plus"></i>
              </div>
              <p id="Subtotal">Subtotal: <span>$0.00</span></p>
              <button class="button-delete" type="button">
                Eliminar <i class="fa-solid fa-trash"></i>
              </button>
            </article>
            <article class="descriptions-article">
              <h3>Nombre del Producto</h3>
              <img
                src="/Images/1708085109993.jpg"
                width="150px"
                height="150px"
              />
              <p>Precio c/u: <span>$0.00</span></p>
              <div class="box-quantitys">
                <i class="fa-solid fa-minus fa-xs"></i>
                <input type="text" value="1" class="quantitys-item" disabled />
                <i class="fa-light fa-plus"></i>
              </div>
              <p id="Subtotal">Subtotal: <span>$0.00</span></p>
              <button class="button-delete" type="button">
                Eliminar <i class="fa-solid fa-trash"></i>
              </button>
            </article>
            <article class="descriptions-article">
              <h3>Nombre del Producto</h3>
              <img
                src="/Images/1708085110049.jpg"
                width="150px"
                height="150px"
              />
              <p>Precio c/u: <span>$0.00</span></p>
              <div class="box-quantitys">
                <i class="fa-solid fa-minus fa-xs"></i>
                <input type="text" value="1" class="quantitys-item" disabled />
                <i class="fa-light fa-plus"></i>
              </div>
              <p id="Subtotal">Subtotal: <span>$0.00</span></p>
              <button class="button-delete" type="button">
                Eliminar <i class="fa-solid fa-trash"></i>
              </button>
            </article>
            <article class="descriptions-article">
              <h3>Nombre del Producto</h3>
              <img
                src="/Images/1708085110008.jpg"
                width="150px"
                height="150px"
              />
              <p>Precio c/u: <span>$0.00</span></p>
              <div class="box-quantitys">
                <i class="fa-solid fa-minus fa-xs"></i>
                <input type="text" value="1" class="quantitys-item" disabled />
                <i class="fa-light fa-plus"></i>
              </div>
              <p id="Subtotal">Subtotal: <span>$0.00</span></p>
              <button class="button-delete" type="button">
                Eliminar <i class="fa-solid fa-trash"></i>
              </button>
            </article>
          </div>
        </section>
        <section class="product-payment">
          <h2 id="Title-totales">Total de carrito</h2>
          <div class="box-total">
            <h2>Subtotal</h2>
            <p>$0.00</p>
          </div>
          <div class="box-Subtotal">
            <h2>Envio</h2>
            <p>$0.00</p>
          </div>
          <div class="box-total">
            <h2>Total</h2>
            <p>$0.00</p>
          </div>
          <h2 id="payment">
            Elige su forma de pago <i class="fa-solid fa-pager"></i>
          </h2>
          <div class="box-card">
            <div class="logo-card">
              <img id="visa" src="/Images/visa.png" />
              <img id="MasterCard" src="/Images/MasterCard.png" />
            </div>
            <div class="logo-card">
              <img id="PayPal" src="/Images/PayPal.png" />
              <img id="yappy" src="/Images/yappy.png" />
            </div>
          </div>
          <button class="button-pague" type="button">
            Pagar <i class="fas fa-lock"></i>
          </button>
        </section>
      </div>
    </main>
    <footer>
      <div id="logo-top">
        <img src="/Images/workout507.ico" />
      </div>
      <ul>
        <li><a href="#">Contactanos</a></li>
      </ul>
      <ul>
        <li><a href="#">Nosotros</a></li>
      </ul>
      <ul>
        <li><a href="#">Terminos y condiciones</a></li>
      </ul>
      <div id="logo-medium">
        <img src="/Images/workout507.ico" />
      </div>
      <ul>
        <li><a href="#">ALL rights reserved | 2024</a></li>
      </ul>
      <ul>
        <li><a href="#">soporte</a></li>
      </ul>
      <ul>
        <li><a href="#" id="redes">Redes Sociales </a></li>
        <div class="box-redes">
          <li>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </li>
        </div>
      </ul>
    </footer>
    <script src="/js/index.js"></script>
  </body>
</html>
