<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" , href="/Css/carrito.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Charis+SIL:ital@1&family=Francois+One&family=Gabriela&family=Literata:opsz,wght@7..72,500&family=Montserrat:ital,wght@0,900;1,100&family=Open+Sans:wght@500&family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <title>Carrito De Compras</title>
  </head>
  <body>
    <main>
      <h1>Tu Carrito <i class="fa-solid fa-cart-shopping"></i></h1>
      <section class="products">
        <div class="products-item">
          <article class="description-article">
            <h3>Nombre del Producto</h3>
            <img src="/Images/1708085109952.jpg" width="150px" height="150px" />
            <p>Precio c/u: <span>$0.00</span></p>
            <div class="box-quantity">
                 <i class="fa-solid fa-minus"></i>
              <input type="text" value="1" class="quantity-item" disabled />
              <i class="fa-light fa-plus"></i>
            </div>
            <p id="Subtotal">Subtotal: <span>$0.00</span></p>
            <button class="button-delete" type="submit">
              Eliminar <i class="fa-solid fa-trash"></i>
            </button>
          </article>
          <article class="description-article">
            <h3>Nombre del Producto</h3>
            <img src="/Images/1708085110068.png" width="150px" height="150px" />
            <p>Precio c/u: <span>$0.00</span></p>
            <div class="box-quantity">
              <i class="fa-solid fa-minus"></i>
              <input type="text" value="1" class="quantity-item" disabled />
              <i class="fa-light fa-plus"></i>
            </div>
            <p id="Subtotal">Subtotal: <span>$0.00</span></p>
            <button class="button-delete" type="submit">
              Eliminar <i class="fa-solid fa-trash"></i>
            </button>
          </article>
          <article class="description-article">
            <h3>Nombre del Producto</h3>
            <img src="/Images/1708085110086.jpg" width="150px" height="150px" />
            <p>Precio c/u: <span>$0.00</span></p>
            <div class="box-quantity">
              <i class="fa-solid fa-minus"></i>
              <input type="text" value="1" class="quantity-item" disabled />
              <i class="fa-light fa-plus"></i>
            </div>
            <p id="Subtotal">Subtotal: <span>$0.00</span></p>
            <button class="button-delete" type="submit">
              Eliminar <i class="fa-solid fa-trash"></i>
            </button>
          </article>
          <article class="description-article">
            <h3>Nombre del Producto</h3>
            <img src="/Images/1708085109993.jpg" width="150px" height="150px" />
            <p>Precio c/u: <span>$0.00</span></p>
            <div class="box-quantity">
              <i class="fa-solid fa-minus"></i>
              <input type="text" value="1" class="quantity-item" disabled />
              <i class="fa-light fa-plus"></i>
            </div>
            <p id="Subtotal">Subtotal: <span>$0.00</span></p>
            <button class="button-delete" type="submit">
              Eliminar <i class="fa-solid fa-trash"></i>
            </button>
          </article>
          <article class="description-article">
            <h3>Nombre del Producto</h3>
            <img src="/Images/1708085110049.jpg" width="150px" height="150px" />
            <p>Precio c/u: <span>$0.00</span></p>
            <div class="box-quantity">
              <i class="fa-solid fa-minus"></i>
              <input type="text" value="1" class="quantity-item" disabled />
              <i class="fa-light fa-plus"></i>
            </div>
            <p id="Subtotal">Subtotal: <span>$0.00</span></p>
            <button class="button-delete" type="submit">
              Eliminar <i class="fa-solid fa-trash"></i>
            </button>
          </article>
          <article class="description-article">
            <h3>Nombre del Producto</h3>
            <img src="/Images/1708085110008.jpg" width="150px" height="150px" />
            <p>Precio c/u: <span>$0.00</span></p>
            <div class="box-quantity">
              <i class="fa-solid fa-minus"></i>
              <input type="text" value="1" class="quantity-item" disabled />
              <i class="fa-light fa-plus"></i>
            </div>
            <p id="Subtotal">Subtotal: <span>$0.00</span></p>
            <button class="button-delete" type="submit">
              Eliminar <i class="fa-solid fa-trash"></i>
            </button>
          </article>
        </div>
      </section>
      <section class="products-payment">
        <div class="box-total">
          <h2>Envío</h2>
          <p>$0.00</p>
        </div>
        <div class="box-Subtotal">
          <h2>SubTotal</h2>
          <p>$0.00</p>
        </div>
        <div class="box-total">
          <h2>Total</h2>
          <p>$0.00</p>
        </div>
        <h2 id="payment">Eliga su forma de pago <i class="fa-solid fa-pager"></i></h2>
        <div class="box-card">
          <a href="#">
            <img id="visa" src="/Images/visa.png">
          </a>
          <a href="#">
            <img id="MasterCard" src="/Images/MasterCard.png">
          </a>
          <a href="#">
            <img id="PayPal" src="/Images/PayPal.png">
          </a>
        </div>
        </div>
      </section>
    </main>
  </body>
</html>
