<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@500&family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/Css/carrito.css" />
    <link rel="stylesheet" type="text/css" href="/Css/detalles.css" />
    <title>Detalles del producto</title>
    <link rel="shortcut icon" href="/Images/workout-icono.ico" />
  </head>
  <body class="body-raleway">
    <header>
      <img src="/Images/workout507.ico" alt="logo" />
      <div class="search-box">
        <input type="text" placeholder="Buscar..." />
        <span class="fas fa-search" id="search-icon"></span>
      </div>
      <div class="truck-box">
        <i class="fa-solid fa-truck-fast"></i
        ><span>Envío Rápido en 24 Horas</span>
      </div>
    </header>
    <nav>
      <ul class="nav1">
        <button id="menu">
          <div></div>
          <div></div>
          <div></div>
        </button>
        <div class="box-menu">
          <ul>
            <li><a href="#">Equipamiento</a></li>
            <li><a href="#">Accesorios</a></li>
            <li><a href="#">Ropa</a></li>
            <li><a href="#">Electronica</a></li>
            <li><a href="#">Suplementos</a></li>
          </ul>
        </div>
        <span id="categoria">Categorias</span>
      </ul>
      <ul class="nav2">
        <i class="fa-solid fa-sun" id="fa-sun"></i>
        <li>
          <a href="/"><i class="fa-solid fa-house"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-circle-user"></i></a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-cart-shopping"></i><span id="number">0</span>
          </a>
        </li>
      </ul>
    </nav>
    <main>
      <h1>DETALLES DEL PRODUCTO <i class="fas fa-tag"></i></h1>
      <div class="box-main">
        <section class="product0">
          <article class="description-article0">
            <h3>MANCUERNA DE 25 KG</h3>
            <img src="/Images/pesas_25kg.jpg" />
          </article>
        </section>
        <section class="technical-specs">
          <h3 id="title-detalle">ESPECIFICACIONES TÉCNICAS</h3>
          <div class="spec-item">
            <h3>
              Esculpe y tonifica tus brazos, hombros, músculos y espalda ¡es el
              complemento perfecto para tus rutinas en casa!
            </h3>
          </div>
          <div class="spec-item">
            <h3><span class="spans">Marca:</span> Singular WOD</h3>
          </div>
          <div class="spec-item">
            <h3><span class="spans">Color:</span> Negro</h3>
          </div>
          <div class="spec-item">
            <h3>
              <span class="spans">Material:</span> Mango de Acero con laterales de caucho.
            </h3>
          </div>
          <div class="spec-item">
            <h3><span class="spans">Diámetro del mango:</span> 3,3 cm</h3>
          </div>
          <div class="spec-item">
            <h3><span class="spans">Peso:</span> 25 kg</h3>
          </div>
         <h3><span class="spans">Precio:</span> $120.00</span></h3>
          <div class="box-quantity">
            <div class="quantity-control">
              <button class="decrement">-</button>
              <input type="number" class="quantity-input" value="1" />
              <button class="increment">+</button>
            </div>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
            </div>
          </div>
        </section>
      </div>
      <section class="products">
        <div class="products-item"  id="products-item1">
          <article class="description-article" id="img-1">
            <img src="/Images/pesa-hexaonal-25kgweb-600x600.jpg" />
          </article>
          <article class="description-article" id="img-2">
            <img src="/Images/par-de-mancuernas-hexagonales-de-25-libras.jpg" />
          </article>
        </div>
        <div class="products-item" id="products-item2">
          <article class="description-article" id="img-3">
            <img src="/Images/2-pesas.jpg" />
          </article>
          <article class="description-article" id="img-4">
            <img src="/Images/mancuerna-hexagonal-de-goma-25-kg.jpg" />
          </article>
        </div>
      </section>
      <section class="contenido">
        <div class="contenido-inter">
          <h3 id="title-detalle-descripcion">DESCRIPCIÓN DE LAS MANCUERNAS DE 25 KG</h3>
          <p id="parrafo-detalle">
            Están fabricadas en caucho de primera calidad y sin olor,
            manteniendo el rebote y forma natural durante toda su vida útil. El
            mango está diseñado para darte el mayor agarrre posible. Las pesas
            de 25 kg son muy utilizadas por los deportistas. La opción de
            trabajar con mancuernas puede ser una buena opción para añadir
            variación e intensidad a nuestros entrenos, ya que debemos controlar
            dos elementos en vez de uno, lo que aumenta la dificultad de los
            ejercicios realizados normalmente con la barra (Clean, Snatch,
            Overhead Squat, Thrusters, Press, Push Press, Push Jerk, Split Jerk,
            entre otros), ya que pondrá a prueba tu fuerza, equilibrio e higiene
            postural. También es una alternativa perfecta para adaptar
            ejercicios a varios niveles manteniendo el mismo estímulo muscular y
            aumentando la coordinación.
          </p>
        </div>
        <h2>PRODUCTOS RELACIONADOS</h2>
      </section>
      <section class="products1">
        <div class="products-item1">
          <article class="description-article1">
            <h3>Caminadora</h3>
            <img src="/Images/PFEX61621-1.webp" width="150px" height="150px" />
            <span class="spans">Precio: </span> <p>$1999.99</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
          </article>
          <article class="description-article1">
            <h3>Máquina Multifuncional</h3>
            <img
              src="/Images/multifuncion-1.jpg"
              width="150px"
              height="122px"
            />
            <span class="spans">Precio: </span> <p>$1999.99</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
          </article>
          <article class="description-article1">
            <h3>Banca Multiusos</h3>
            <img src="/Images/equipo-gym.jpg" width="150px" height="150px" />
            <span class="spans">Precio: </span> <p>$1999.99</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
          </article>
          <article class="description-article1">
            <h3>Pesa</h3>
            <img
              src="/Images/image-06003b7096034271ba612726e7de2497.webp"
              width="150px"
              height="150px"
            />
            <span class="spans">Precio: </span> <p>$1999.99</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
          </article>
        </div>
      </section>
    </main>
    <footer>
      <div id="logo-top">
        <img src="/Images/workout507.ico" />
      </div>
      <ul>
        <li><a href="#">Contactanos</a></li>
      </ul>
      <ul>
        <li><a href="#">Nosotros</a></li>
      </ul>
      <ul>
        <li><a href="#">Terminos y condiciones</a></li>
      </ul>
      <div id="logo-medium">
        <img src="/Images/workout507.ico" />
      </div>
      <ul>
        <li><a href="#">ALL rights reserved | 2024</a></li>
      </ul>
      <ul>
        <li><a href="#">soporte</a></li>
      </ul>
      <ul>
        <li><a href="#" id="redes">Redes Sociales </a></li>
        <div class="box-redes">
          <li>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </li>
        </div>
      </ul>
    </footer>
    <script src="/js/carrito.js"></script>
  </body>
</html>
