<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DETALLES DEL PRODUCTO</title>
    <link rel="stylesheet" href="/Public/Css/detallesDelProducto.css">
</head>
<body>
    <main>
        <section class="detalles-del-producto">
          <h1>PESAS DE 25 KG</h1>
          <div class="products">
            <article>
              <img
              src="/Public/Images/pesas_25kg.jpg"
              alt="pesa principal"
              class="product_img"
              />
              <div class="main-article">
                <p class="price">$99.99</p>
                <h4 class="description">Pesa de 25 Kg</h4>
              </div>
            </article>
            </div>
            <h2>AÑADIR AL CARRITO</h2>
            <div class="contenedor-foto1">
              <img
                src="/Public/Images/pesa-hexaonal-25kgweb-600x600.jpg"
                alt="imagen pequeña"
                class="product_img"
              />
              <img
                src="/Public/Images/par-de-mancuernas-hexagonales-de-25-libras.jpg"
                alt="imagen pequeña"
                class="product_img"
              />
              <img
                src="/Public/Images/2-pesas.jpg"
                alt="Imagen secundaria"
                class="product_img"
              />
              <img
                src="/Public/Images/mancuerna-hexagonal-de-goma-25-kg.jpg"
                alt="pesa principal"
                class="product_img"
              /> 
              </div>
                <div class="main-article">
                <p class="price">precio: $65.99</p>
                <h2>DESCRIPCIÓN DE LAS PESAS DE 25 KG</h2>
                <p> Están fabricadas en caucho de primera calidad y sin olor, manteniendo el rebote y forma natural durante toda su vida útil. 
                    El mango está diseñado para darte el mayor agarrre posible.
                    Las pesas de 25 kg son muy utilizadas por los deportistas</p>
                    <h2 id="payment">MÉTODOS DE PAGO <i class="fa-solid fa-pager"></i></h2>
                    <div class="box-card">
                      <a href="#">
                        <img id="visa" src="/Public/Images/visa.png">
                      </a>
                      <a href="#">
                        <img id="MasterCard" src="/Public/Images/MasterCard.png">
                      </a>
                      <a href="#">
                        <img id="PayPal" src="/Public/Images/PayPal.png">
                      </a>
                    <h2>PRODUCTOS RELACIONADOS</h2>
                    <div class="fotosRelacionadas">
                    <img
                    src="/Public/Images/PFEX61621-1.webp"
                    alt="Producto relacionado"
                    class="product_img">
                    <p class="nombre-del-producto">Caminadora</p>
                    <p class="price">Precio: $65.99</p>
                    <h3>AÑADIR AL CARRITO</h3>
                  <img
                src="/Public/Images/multifuncion-1.jpg"
                alt="pesa principal"
                class="product_img">
              <p class="nombre-del-producto">Máquina multifuncional</p>
                    <p class="price">Precio: $1999.99</p>   
              <h3>AÑADIR AL CARRITO</h3>
              <img
                src="/Public/Images/equipo-gym.jpg"
                alt="pesa principal"
                class="product_img"  
              />
              <p class="nombre-del-producto">Banca multiusos</p>
                <p class="price">Precio: $65.99</p>
                <h3>AÑADIR AL CARRITO</h3>
              <img
                src="/Public/Images/image-06003b7096034271ba612726e7de2497.webp"
                alt="pesa principal"
                class="product_img"
              />
              <p class="nombre-del-producto">Pesa</p>
              <p class="price">Precio: $65.99</p>
              <h3>AÑADIR AL CARRITO</h3>
              </div>
            </article>
        </section>  
</body>
</html>