<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DETALLES DEL PRODUCTO</title>
    <link rel="stylesheet" href="/Public/Css/detallesDelProducto.css"/>
</head>
<body>
    <main>
        <section class="detalles-del-producto">
          <div class="products">
              <article class="description-article">
          <h1>PESAS DE 25 KG</h3>
            <div classs= "imagen-principal">
              <img
              src="/Grupo1-WORKOUT-507-STORE/images/pesas_25kg.jpg"
              alt="pesa principal"
              class="product_img"/>
            </div>
            <div class="contenedor-foto1">
              <img
                src="/Grupo1-WORKOUT-507-STORE/images/pesa-hexaonal-25kgweb-600x600.jpg"
                alt="imagen pequeña"
                class="product_img"
              />
              
              <img
                src="/Grupo1-WORKOUT-507-STORE/images/par-de-mancuernas-hexagonales-de-25-libras.jpg"
                alt="imagen pequeña"
                class="product_img"
              />
             
              <img
                src="/Grupo1-WORKOUT-507-STORE/images/2-pesas.jpg"
                alt="Imagen secundaria"
                class="product_img"
              />
      
              <img
                src="/Grupo1-WORKOUT-507-STORE/images/mancuerna-hexagonal-de-goma-25-kg.jpg"
                alt="pesa principal"
                class="product_img"
              /> 
              </div>
                <div class="main-article">
                <i class="fas fa-truck"></i>
                <p class="price">precio: $65.99</p>
                <h2>DESCRIPCIÓN DE LAS PESAS DE 25 KG</h2>
                <p> Están fabricadas en caucho de primera calidad y sin olor, manteniendo el rebote y forma natural durante toda su vida útil. 
                    El mango está diseñado para darte el mayor agarrre posible.
                    Las pesas de 25 kg son muy utilizadas por los deportistas</p>
                    <h2>AÑADIR AL CARRITO</h2>
                    <h2 id="payment">MÉTODOS DE PAGO <i class="fa-solid fa-pager"></i></h2>
                    <div class="box-card">
                      <a href="#">
                        <img id="visa" src="/Images/visa.png">
                      </a>
                      <a href="#">
                        <img id="MasterCard" src="/Images/MasterCard.png">
                      </a>
                      <a href="#">
                        <img id="PayPal" src="/Images/PayPal.png">
                      </a>
                    <h2>PRODUCTOS RELACIONADOS</h2>
                    <div class="contenedor-FotosRelacionadas">
                    <img
                    src="/Grupo1-WORKOUT-507-STORE/images/PFEX61621-1.webp"
                    alt="Producto relacionado"
                    class="product_img">
                    <p class="nombre-del-producto">Caminadora</p>
                    <p class="price">Precio: $65.99</p>
                    <h3>AÑADIR AL CARRITO</h3>
                  <img
                src="/Grupo1-WORKOUT-507-STORE/images/multifuncion-1.jpg"
                alt="pesa principal"
                class="product_img">
              <p class="nombre-del-producto">Máquina multifuncional</p>
                    <p class="price">Precio: $1999.99</p>   
              <h3>AÑADIR AL CARRITO</h3>
              <img
                src="/Grupo1-WORKOUT-507-STORE/images/equipo-gym.jpg"
                alt="pesa principal"
                class="product_img"  
              />
              <p class="nombre-del-producto">Caminadora</p>
                <p class="price">Precio: $65.99</p>
                <button>AÑADIR AL CARRITO</button>
              <img
                src="/Grupo1-WORKOUT-507-STORE/images/image-06003b7096034271ba612726e7de2497.webp"
                alt="pesa principal"
                class="product_img"
              />
              <p class="nombre-del-producto">Caminadora</p>
              <p class="price">Precio: $65.99</p>
              <button>AÑADIR AL CARRITO</button>
              </div>
            </article>
        </section>  
</body>
</html>