<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <link rel="stylesheet" href="/Public/Css/detalles.css">
</head>
<body>
    <header>
        <h1>Pesas de 25 Kg</h1>
    </header>
    <div class="container-items">
        <div class="items">
            <img src="/Public/Images/pesas_25kg.jpg" alt="" class="producto"/>
              <div class="información-producto">
                <h3 class="produto__title">Pesas de 25 Kg</h3>
               <p class="price">99.99</p>
               <button>Añadir al carrito</button>
              </div>
    <div class="container-items">
        <div class="items">
        <img src="/Public/Images/pesa-hexaonal-25kgweb-600x600.jpg" alt="" class="producto"/>
    <div class="container items">
        <div class="items">
        <img
        src="/Public/Images/par-de-mancuernas-hexagonales-de-25-libras.jpg"
        alt="imagen pequeña"
        class="producto"
      />
      <div class="container-items">
        <div class="items">
      <img src="/Public/Images/2-pesas.jpg"
      alt="imagen pequeña"
      class="producto"
      />
      <div class="container-items">
        <div class="items">
      <img
        src="/Public/Images/mancuerna-hexagonal-de-goma-25-kg.jpg"
        alt="pesa principal"
        class="producto"
      />      
</body>
</html>