<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Workouts Store 507</title>
    <link rel="stylesheet" href="/Css/home.css" />
    <link rel="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/Css/normalize.css" />
    <script
      src="https://kit.fontawesome.com/562ce4fe09.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="container_header">
      <nav class="nav">
        <img src="/Images/workout507.png" alt="Logo Workouts" id="main_logo">
        <div class="search_button"><button><i class="fa-solid fa-magnifying-glass"></i></button></div>
        <div class="shopping_button"><button><i class="fa-solid fa-cart-shopping"></i></button></div>
        <div class="user_button"><button><i class="fa-solid fa-user"></i></button></div>
        <div class="open_menu"><button><i class="fa-solid fa-bars"></i></i></button>
        <button class="close_menu"><i class="fa-solid fa-xmark"></i></button>
        <ul class="nav_list">
          <li><a href="#">carrito</a></li>
          <li><a href="#">ropa</a></li>
          <li><a href="#">gimnasio</a></li>
          <li><a href="#">calzado</a></li>
          <li><a href="#">deporte</a></li>
        </ul>
      </nav>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
