<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@500&family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css"  href="/Css/home.css" />
    <link rel="stylesheet" type="text/css" href="/Css/carrito.css" />
    <title>Workouts Store 507</title>
  </head>
  <body class="body-raleway">
    <header>
      <img src="/Images/workout507.ico" alt="logo" />
      <div class="search-box">
        <input type="text" placeholder="Buscar..." />
        <span class="fas fa-search" id="search-icon"></span>
      </div>
      <div class="truck-box">
        <i class="fa-solid fa-truck-fast"></i
        ><span>Envío Rápido en 24 Horas</span>
      </div>
    </header>
    <nav>
      <ul class="nav1">
        <button id="menu">
          <div></div>
          <div></div>
          <div></div>
        </button>
        <div class="box-menu">
          <ul>
            <li><a href="#">Equipamiento</a></li>
            <li><a href="#">Accesorios</a></li>
            <li><a href="#">Ropa</a></li>
            <li><a href="#">Electronica</a></li>
            <li><a href="#">Suplementos</a></li>
          </ul>
        </div>
        <span id="categoria">Categorias</span>
      </ul>
      <ul class="nav2">
        <i class="fa-solid fa-sun" id="fa-sun"></i>
        <li>
          <a href="/"><i class="fa-solid fa-house"></i></a>
        </li>
        <li>
          <a href="/login.html"><i class="fa-solid fa-circle-user"></i></a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-cart-shopping"></i><span id="number">0</span>
          </a>
        </li>
      </ul>
      <div class="box-car">
        <div class="box-product">
          <div class="title-car">
            <h2>Tu Carrito</h2>
          </div>
          <div class="cart-product">
            <div class="descriptions-car">
              <img src="/Images/1708085109952.jpg" alt="" />
              <span class="cantidad-producto-carrito">1</span>
              <span>$0.00</span>
            </div>
            <i class="fa-solid fa-trash"></i>
          </div>
        </div>
        <div class="box-total-car">
          <p>Total</p>
          <span>$0.00</span>
        </div>
        <p class="car-message">El carrito está vacío</p>
        <div class="box-button-cars">
          <button class="button-cars" type="submit" id="button-cars-carrito">
            Ir al carrito >>
          </button>
          <button class="button-cars" type="button">Vaciar Carrito</button>
        </div>
      </div>
    </nav>
    <main>
      <div class="banner"></div>
      <section id="gallery">
        <div class="gallery-container">
          <figure class="gallery-item">
            <img src="/Images/banco_de_mancuernas.jpg" alt="Imagen 1" />
            <figcaption>Descripción de la imagen 1</figcaption>
          </figure>
          <figure class="gallery-item">
            <img src="/Images/bici_estatica_rali.jpg" alt="Imagen 2" />
            <figcaption>Descripción de la imagen 2</figcaption>
          </figure>
          <figure class="gallery-item">
            <img src="/Images/MasterCard.png" alt="Imagen 3" />
            <figcaption>Descripción de la imagen 3</figcaption>
          </figure>
          <!-- ... otras imágenes ... -->
        </div>
        <nav class="gallery-navigation">
          <button class="nav-button prev-button">Anterior</button>
          <button class="nav-button next-button">Siguiente</button>
        </nav>
      </section>
      <section class="products">
        <div class="products-item">
          <article class="description-article">
            <h3>Juego De Mancuernas</h3>
            <img
              src="/Images/juego_de_mancuernas.webp"
              width="150px"
              height="150px"
            />
            <p>Precio c/u: <span>$0.00</span></p>
            <div class="bottons"><button class="button-carrito" type="submit">
              <span>Añadir al carrito</span> <i class="fa-solid fa-cart-plus"></i>
            <button class="button-carrito" type="submit">
              <span>Ver mas acerca de esto</span>
              <i class="fa-solid fa-file-lines"></i>
            </button> </div>
          </article>
          <article class="description-article">
            <h3>Mancuernas par De 5Lbs</h3>
            <img
              src="/Images/par_de_mancuernas.jpg"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <button class="button-carrito" type="submit">
              <span>Añadir al carrito</span>
              <i class="fa-solid fa-cart-plus"></i>
            </button>
            <button id="Button-carrito" class="button-carrito" type="submit">
              <span>Ver mas acerca de esto</span>
              <i class="fa-solid fa-file-lines"></i>
            </button>
          </article>
          <article class="description-article">
            <h3>Bicicleta estatica RALI</h3>
            <img
              src="/Images/bici_estatica_rali.jpg"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <button class="button-carrito" type="submit">
              <span>Añadir al carrito</span>
              <i class="fa-solid fa-cart-plus"></i>
            </button>
            <button class="button-carrito" type="submit">
              <span>Ver mas acerca de esto</span>
              <i class="fa-solid fa-file-lines"></i>
            </button>
          </article>
          <article class="description-article">
            <h3>Banco De Mancuernas</h3>
            <img
              src="/Images/banco_de_mancuernas.jpg"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <button class="button-carrito" type="submit">
              <span>Añadir al carrito</span>
              <i class="fa-solid fa-cart-plus"></i>
            </button>
            <button class="button-carrito" type="submit">
              <span>Ver mas acerca de esto</span>
              <i class="fa-solid fa-file-lines"></i>
            </button>
          </article>
          <article class="description-article">
            <h3>Barra Recta De 1,5m De Largo</h3>
            <img src="/Images/barra_recta.jpg" width="150px" height="150px" />
            <p>Precio: <span>$0.00</span></p>
            <button class="button-carrito" type="submit">
              <span>Añadir al carrito</span>
              <i class="fa-solid fa-cart-plus"></i>
            </button>
            <button class="button-carrito" type="submit">
              <span>Ver mas acerca de esto</span>
              <i class="fa-solid fa-file-lines"></i>
            </button>
          </article>
          <article class="description-article">
            <h3>Guantes De Boexeo Everlast Classic</h3>
            <img
              src="/Images/guantes_everlast.jpg"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <button class="button-carrito" type="submit">
              <span>Añadir al carrito</span>
              <i class="fa-solid fa-cart-plus"></i>
            </button>
            <button class="button-carrito" type="submit">
              <span>Ver mas acerca de esto</span>
              <i class="fa-solid fa-file-lines"></i>
            </button>
          </article>
          <article class="description-article">
            <h3>Cuerda Para Saltar Everlast</h3>
            <img
              src="/Images/cuerda_para_saltar.jpg"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <button class="button-carrito" type="submit">
              <span>Añadir al carrito</span>
              <i class="fa-solid fa-cart-plus"></i>
            </button>
            <button class="button-carrito" type="submit">
              <span>Ver mas acerca de esto</span>
              <i class="fa-solid fa-file-lines"></i>
            </button>
          </article>
          <article class="description-article">
            <h3>Saco De Boexeo Everlast</h3>
            <img src="/Images/saco_de_boxeo.jpg" width="150px" height="150px" />
            <p>Precio: <span>$0.00</span></p>
            <button class="button-carrito" type="submit">
              <span>Añadir al carrito</span>
              <i class="fa-solid fa-cart-plus"></i>
            </button>
            <button class="button-carrito" type="submit">
              <span>Ver mas acerca de esto</span>
              <i class="fa-solid fa-file-lines"></i>
            </button>
          </article>
          <article class="description-article">
            <h3>Pera De Boxeo Everlast</h3>
            <img src="/Images/pera_de_boxeo.jpg" width="150px" height="150px" />
            <p>Precio: <span>$0.00</span></p>
            <button class="button-carrito" type="submit">
              <span>Añadir al carrito</span>
              <i class="fa-solid fa-cart-plus"></i>
            </button>
            <button class="button-carrito" type="submit">
              <span>Ver mas acerca de esto</span>
              <i class="fa-solid fa-file-lines"></i>
            </button>
          </article>
          <article class="description-article">
            <h3>Maquinaria De Abdominales</h3>
            <img
              src="/Images/maquina_abdominales.jpg"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <button class="button-carrito" type="submit">
              <span>Añadir al carrito</span>
              <i class="fa-solid fa-cart-plus"></i>
            </button>
            <button class="button-carrito" type="submit">
              <span>Ver mas acerca de esto</span>
              <i class="fa-solid fa-file-lines"></i>
            </button>
          </article>
          <article class="description-article">
            <h3>Maquina Prensa De Hombro</h3>
            <img
              src="/Images/prensa_de_hombro.jpg"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <button class="button-carrito" type="submit">
              <span>Añadir al carrito</span>
              <i class="fa-solid fa-cart-plus"></i>
            </button>
            <button class="button-carrito" type="submit">
              <span>Ver mas acerca de esto</span>
              <i class="fa-solid fa-file-lines"></i>
            </button>
          </article>
          <article class="description-article">
            <h3>Banco De Pesas Negro</h3>
            <img
              src="/Images/banco_de_pesas.jpg"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <button class="button-carrito" type="submit">
              <span>Añadir al carrito</span>
              <i class="fa-solid fa-cart-plus"></i>
            </button>
            <button class="button-carrito" type="submit">
              <span>Ver mas acerca de esto</span>
              <i class="fa-solid fa-file-lines"></i>
            </button>
          </article>
        </div>
      </section>
    </main>
    <footer>
      <div id="logo-top">
        <img src="/Images/workout507.ico" />
      </div>
      <ul>
        <li><a href="#">Contactanos</a></li>
      </ul>
      <ul>
        <li><a href="#">Nosotros</a></li>
      </ul>
      <ul>
        <li><a href="#">Terminos y condiciones</a></li>
      </ul>
      <div id="logo-medium">
        <img src="/Images/workout507.ico" />
      </div>
      <ul>
        <li><a href="#">ALL rights reserved | 2024</a></li>
      </ul>
      <ul>
        <li><a href="#">soporte</a></li>
      </ul>
      <ul>
        <li><a href="#" id="redes">Redes Sociales </a></li>
        <div class="box-redes">
          <li>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </li>
        </div>
      </ul>
    </footer>
    <script src="/js/index.js"></script>
    <script src="/js/slider.js"></script>
  </body>
</html>
