<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@500&family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/Css/home.css" />
    <link rel="stylesheet" type="text/css" href="/Css/carrito.css" />
    <title>Workouts Store 507</title>
    <link rel="shortcut icon" href="/Images/workout-icono.ico" />
  </head>
  <body class="body-raleway">
    <header>
      <img src="/Images/workout507.ico" alt="logo" />
      <div class="search-box">
        <input type="text" placeholder="Buscar..." />
        <span class="fas fa-search" id="search-icon"></span>
      </div>
      <div class="truck-box">
        <i class="fa-solid fa-truck-fast"></i
        ><span>Envío Rápido en 24 Horas</span>
      </div>
    </header>
    <nav>
      <ul class="nav1">
        <button id="menu">
          <div class="menuDiv"></div>
          <div class="menuDiv"></div>
          <div class="menuDiv"></div>
        </button>
        <div class="box-menu">
          <ul>
            <li><a href="#Equipo">Equipamiento</a></li>
            <li><a href="#Boxeo">Boxeo</a></li>
            <li><a href="#ropa">Ropa</a></li>
            <li><a href="#calzados">Calzados</a></li>
            <li><a href="#suplementos">Suplementos</a></li>
          </ul>
        </div>
        <span id="categoria">Categorias</span>
      </ul>
      <ul class="nav2">
        <i class="fa-solid fa-sun" id="fa-sun"></i>
        <li>
          <a href="/"><i class="fa-solid fa-house"></i></a>
        </li>
        <li>
          <a href="/login.html"><i class="fa-solid fa-circle-user"></i></a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-cart-shopping"></i><span id="number">6</span>
          </a>
        </li>
      </ul>
      <div class="overlay"></div>
      <div class="box-car">
        <div class="box-product">
          <div class="title-car">
            <h2>Tu Carrito</h2>
            <i class="fa-solid fa-xmark"></i>
          </div>
          <div class="cart-product">
            <div class="descriptions-car">
              <img src="/Images/guantes_everlast.jpg" alt="" />
              <span class="cantidad-producto-carrito">1</span>
              <span>$0.00</span>
            </div>
            <i class="fa-solid fa-trash"></i>
          </div>
          <div class="cart-product">
            <div class="descriptions-car">
              <img src="/Images/zapatilla-nike-running-girl.jpg" alt="" />
              <span class="cantidad-producto-carrito">1</span>
              <span>$0.00</span>
            </div>
            <i class="fa-solid fa-trash"></i>
          </div>
          <div class="cart-product">
            <div class="descriptions-car">
              <img src="/Images/calcetines_adidas_3par.jpg" alt="" />
              <span class="cantidad-producto-carrito">1</span>
              <span>$0.00</span>
            </div>
            <i class="fa-solid fa-trash"></i>
          </div>
          <div class="cart-product">
            <div class="descriptions-car">
              <img src="/Images/saco_de_boxeo.jpg" alt="" />
              <span class="cantidad-producto-carrito">1</span>
              <span>$0.00</span>
            </div>
            <i class="fa-solid fa-trash"></i>
          </div>
          <div class="cart-product">
            <div class="descriptions-car">
              <img src="/Images/bici_estatica_rali.jpg" alt="" />
              <span class="cantidad-producto-carrito">1</span>
              <span>$0.00</span>
            </div>
            <i class="fa-solid fa-trash"></i>
          </div>
          <div class="cart-product">
            <div class="descriptions-car">
              <img src="/Images/pesas_25kg.jpg" alt="" />
              <span class="cantidad-producto-carrito">1</span>
              <span>$0.00</span>
            </div>
            <i class="fa-solid fa-trash"></i>
          </div>
        </div>
        <div class="box-total-car">
          <p>Total</p>
          <span>$0.00</span>
        </div>
        <p class="car-message">El carrito está vacío</p>
        <div class="box-button-cars">
          <button class="button-cars" type="submit" id="button-cars-carrito">
            Ir al carrito >>
          </button>
          <button class="button-cars" type="button">Vaciar Carrito</button>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="slider-container" id="slider">
        <section class="section-img">
          <img src="/Images/BANNER1.png" />
        </section>
        <section class="section-img">
          <img src="/Images/BANNER2.png" />
        </section>
        <section class="section-img">
          <img src="/Images/shoesBANNER.png" />
        </section>
        <section class="section-img">
          <img src="/Images/banner4.jpeg" />
        </section>
        <section class="section-img">
          <img src="/Images/Bannerr5.png" />
        </section>
      </div>
      <div class="button-right">
        <i class="fa-solid fa-angle-left" id="fa-left"></i>
      </div>
      <div class="button-left">
        <i class="fa-solid fa-angle-right" id="fa-right"></i>
      </div>
    </div>
    <main>
      <section class="products">
        <div class="products-item">
          <h3 class="subtitle-seccion" id="Equipo">Lo Nuevo en equipo de Gym</h3>
          <article class="description-article">
            <h3>Juego De Mancuernas 10kg</h3>
            <img
              src="/Images/juego_de_mancuernas.webp"
              width="150px"
              height="150px"
            />
            <p>Precio c/u: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
          <article class="description-article">
            <h3>Mancuernas par De 5Lbs</h3>
            <img
              src="/Images/par_de_mancuernas.jpg"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button id="Button-carrito" class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
          <article class="description-article">
            <h3>Bicicleta estatica RALI negro</h3>
            <img
              src="/Images/bici_estatica_rali.jpg"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
          <article class="description-article">
            <h3>Banco De Mancuernas</h3>
            <img
              src="/Images/banco_de_mancuernas.jpg"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
          <article class="description-article">
            <h3>Barra Recta De 1,5m</h3>
            <img src="/Images/barra_recta.jpg" width="150px" height="150px" />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
          <h3 class="subtitle-seccion" id="Boxeo">Lo Nuevo en equipo de boxeo</h3>
          <article class="description-article">
            <h3>Guantes De Boxeo Everlast Classic</h3>
            <img
              src="/Images/guantes_everlast.jpg"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
          <article class="description-article">
            <h3>Cuerda Para Saltar Everlast</h3>
            <img
              src="/Images/cuerda_para_saltar.jpg"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
          <article class="description-article">
            <h3>Saco De Boxeo Everlast</h3>
            <img src="/Images/saco_de_boxeo.jpg" width="150px" height="150px" />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
          <article class="description-article">
            <h3>Pera De Boxear Everlast</h3>
            <img src="/Images/pera_de_boxeo.jpg" width="150px" height="150px" />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
          <article class="description-article">
            <h3>Diana de mano para boxeo</h3>
            <img
              src="/Images/diana_de_mano_de_boxeo.jpg"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
          <h3 class="subtitle-seccion" id="ropa">Lo Nuevo en Ropa Deportiva</h3>
          <article class="description-article">
            <h3>Camiseta Nike Dry Fit manga larga (Hombres)</h3>
            <img
              src="/Images/camiseta_dry_fit_nike_manga_larga_men.webp"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
          <article class="description-article">
            <h3>Pantalon Nike Dri Fit (hombres)</h3>
            <img
              src="/Images/dri_fit_academy_pantalon-de_futbol_men.png"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>

          <article class="description-article">
            <h3>Pantalon Nike Dri Fit (mujeres)</h3>
            <img
              src="/Images/dri_fit_academy_pantalon-de_futbol_girl.png"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
          <article class="description-article">
            <h3>Camiseta Nike Dri Fit (mujeres)</h3>
            <img
              src="/Images/camiseta_dry_fit_nike_manga_larga_girl.png"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
          <article class="description-article">
            <h3>Calcetines adidas 3 pares (blanco,negro,gris)</h3>
            <img
              src="/Images/calcetines_adidas_3par.jpg"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
          <h3 class="subtitle-seccion" id="calzados">Lo Nuevo en calzado deportivo</h3>
          <article class="description-article">
            <h3>Zapatillas Adidas Running (Hombres)</h3>
            <img
              src="/Images/zapatilla-adidas-running-men.avif"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
          <article class="description-article">
            <h3>Zapatillas Adidas Running (Mujeres)</h3>
            <img
              src="/Images/zapatilla-adidas-running-girl.avif"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>

          <article class="description-article">
            <h3>Zapatilla Nike Running (Hombres)</h3>
            <img
              src="/Images/zapatilla-nike-running-men.png"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
          <article class="description-article">
            <h3>Zapatilla Nike Running (mujeres)</h3>
            <img
              src="/Images/zapatilla-nike-running-girl.jpg"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
          <article class="description-article">
            <h3>Zapatos de kung fu (Hombres)</h3>
            <img
              src="/Images/zapato-de-kung-fu-men.jpg"
              width="150px"
              height="150px"
            />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
          <h3 class="subtitle-seccion" id="suplementos">Nuevo producto: Suplementos</h3>
          <article class="description-article">
            <h3>Suplemento MuscleTech</h3>
            <img src="/Images/suplemento1.jpg" width="150px" height="150px" />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
          <article class="description-article">
            <h3>Pre entreno C4</h3>
            <img src="/Images/suplemento2.jpg" width="150px" height="150px" />
            <p>Precio: <span>$0.00</span></p>
            <div class="bottons">
              <button class="button-carrito" type="submit">
                <span>Añadir al carrito</span>
                <i class="fa-solid fa-cart-plus"></i>
              </button>
              <button class="button-carrito" type="submit">
                <a href="./detalles.html"><span>Ver mas detalles</span></a>
                <i class="fa-solid fa-file-lines"></i>
              </button>
            </div>
          </article>
        </div>
      </section>
    </main>
    <footer>
      <div id="logo-top">
        <img src="/Images/workout507.ico" />
      </div>
      <ul>
        <li><a href="#">Contactanos</a></li>
      </ul>
      <ul>
        <li><a href="#">Nosotros</a></li>
      </ul>
      <ul>
        <li><a href="#">Terminos y condiciones</a></li>
      </ul>
      <div id="logo-medium">
        <img src="/Images/workout507.ico" />
      </div>
      <ul>
        <li><a href="#">ALL rights reserved | 2024</a></li>
      </ul>
      <ul>
        <li><a href="#">soporte</a></li>
      </ul>
      <ul>
        <li><a href="#" id="redes">Redes Sociales </a></li>
        <div class="box-redes">
          <li>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </li>
        </div>
      </ul>
    </footer>
    <script src="/js/carrito.js"></script>
    <script src="/js/home.js"></script>
  </body>
</html>
