<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div   class="Login">
      <h1>Inicio de sesión </h1>
      <form method="post">
 <div  class="username">
      <input type="text" required>
      <label>Nombre de Usuario</label>
</div>
    
 <div class="Contra">
      <input type="password" required>
      <label>Contraseña</label>
 </div>
 <div class="recordar"> Olvidaste su contrseña?</div>
 <input  class="iniciar"  type="submit"value = "Iniciar" > 
      <div class="registro" >
      aqui para registrarse <a href="#">registro</a>
</form>
 </div>
</html>